<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.exemple.com.daddstories_0">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="قصص ض للأطفال"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DADDStories_0">
        <activity
            android:name=".presentation.Deutch.DeutschActivity"
            android:label="Geschichten auf Deutsch"
            android:parentActivityName=".presentation.MainActivity"></activity>
        <activity
            android:name=".presentation.arabic.ArabicActivity"
            android:label="قصص بالعربية"
            android:parentActivityName=".presentation.MainActivity" />
        <activity
            android:name=".presentation.English.EnglishActivity"
            android:label="English Stories"
            android:parentActivityName=".presentation.MainActivity" />
        <activity android:name=".presentation.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>